<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Travel App - Harsha Sanjeeva</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


</head>


<body>

  <div class="wrapper" style="text-align: center;">
    <h3 style="position: absolute; top: 20%;color:steelblue;text-align: center;">Dataset to view the Transportation details in Ontario </h3>
    <p style="position: absolute; top: 28%;color:steelblue;text-align: center;">The JSON endpoint is taken from <a class="btn btn-primary" href="https://myttc.ca/developers">LINK</a> </p>
    <h2 style="position: absolute; top: 33%;color:steelblue;text-align: center;">Please click on the Submit button in order to view the JSON that is being parsed from the Ontario Data endpoint</h2>
    <a class="btn btn-primary" href="/axe" role="button" style="display:inline-block;position: absolute; top: 50%;">Submit</a>
  </div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script>
    $('#btn').click(function () {
      console.log("im here before get")
      $.ajax({
        type: 'GET',
        url: '/axe',
        success: function (result) {
          var html;
          console.log("Im here in the link-btn ejs");
          console.log(result)
        }
      });
    })(jQuery);
  </script>
</body>

</html>